body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

header {
  background: black;
  color: white;
  padding: 20px;
}

button {
  padding: 12px 25px;
  margin: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}
